* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toolbox-container {
  height: 5rem;
  background-color: rgb(70, 66, 66);
  display: flex;
  align-items: center;
}

/* all childs of toolbox-container */
.toolbox-container > * {
  margin-left: 4rem;
  border-radius: 2px;
}

.priority-container {
  width: 14rem;
  height: 3.5rem;
  background-color: rgb(46, 41, 41);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.colors {
  width: 2rem;
  height: 1.4rem;
  background-color: lightcoral;
  border-radius: 2px;
}

.colors:hover{
    cursor: pointer;
}

.active {
    border: 4px solid #a8abaf;
    border-width: thick;
}

.lightpink {
  background-color: lightpink;
}

.lightblue {
  background-color: lightblue;
}

.lightgreen {
  background-color: lightgreen;
}

.black {
    background-color: black;
}

.action-container {
  background-color: rgb(46, 41, 41);
  height: 3.5rem;
  width: 6rem;
  display: flex;
}

/* in action container, all direct childs */
.action-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 2rem;
  color: #fff;
}

.add-btn:hover, .remove-btn:hover{
    background-color: gray;
    cursor: pointer;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: none;
}

.create-ticket {
  position: absolute;
  top: calc((100vh - 59vh) / 2);
  right: calc((100vw - 45vw) / 2);
}

.create-ticket-btn {
  width: 8rem;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 2%;
  font-size: 1.2rem;
  padding: 0.4rem;
}

.modal {
  width: 45vw;
  height: 50vh;
  background-color: lightblue;
  position: absolute;
  top: calc((100vh - 50vh) / 2);
  left: calc((100vw - 45vw) / 2);
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.text-container {
  width: 75%;
  height: 100%;
  border: none;
  outline: none;
  padding: 2rem;
  font-size: 1.2rem;
  background-color: aqua;
  resize: none;
}

.priority-colors-container {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #4b4b4b;
}

.priority-color {
  height: 3rem;
  width: 55%;
}


.selected {
  border: 4px solid #d1d8e0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
}

.ticket-container {
  background-color: #f1f2f6;
  height: 13rem;
  width: 16rem;
}

.ticket-color {
  height: 1rem;
}

.ticket-id {
  height: 2rem;
  padding: 0.4rem;
}

.task {
  height: calc(100% - 3rem - 2rem);
  padding: 0.4rem;
  outline: none;
  font-size: 1.2rem;
}

.ticket-lock {
  height: 2rem;
  display: flex;
  font-size: 1.2rem;
  justify-content: flex-end;
  color: #a5b1c2;
  padding-right: 1rem;
}

/* max-width -> (0 -> provided)  768 or less
   min-width -> (provided, infi) 425 or more
*/

/* Laptop */
@media screen and (max-width: 1441px) {
    .modal {
        width: 60vw;
        height: 60vh;
        top: calc((100vh - 44vh) / 2);
        left: calc((100vw - 60vw) / 2);
      }
      
      .create-ticket {
        right: calc((100vw - 60vw) / 2);
      }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
  .modal {
    width: 60vw;
    height: 60vh;
    top: calc((100vh - 44vh) / 2);
    left: calc((100vw - 60vw) / 2);
  }

  .create-ticket {
    right: calc((100vw - 60vw) / 2);
  }
}

/* Mobile */
@media screen and (min-width: 425px) and (max-width: 767px) {
  .modal {
    width: 72vw;
    height: 60vh;
    top: calc((100vh - 44vh) / 2);
    left: calc((100vw - 72vw) / 2);
    flex-direction: column;
  }

  .text-container{
      width: 100%;
      height: 75%;
  }

  .priority-colors-container{
      flex-direction: row;
      width: 100%;
      height: 25%;
  }

  .priority-color{
      width: 17%;
  }

  .create-ticket {
    right: calc((100vw - 72vw) / 2);
  }

  .toolbox-container > * {
    margin-left: 2rem;
    border-radius: 2px;
  }
}
